@charset "UTF-8";
@use 'sass:map'; 

@import "../../style/index.scss";

.ccd-select {
  display: inline-block;
  position: relative;
  line-height: map.get($--input-height, 'default');

  &__popper {
    @include popper(
      map.get($--select-dropdown, 'background'),
      map.get($--select-dropdown, 'border'),
      map.get($--select-dropdown, 'shadow'),
    );
  }

  &:hover {
    .ccd-input__inner {
      border-color: map.get($--select, 'border-color-hover');
    }
  }

  .ccd-input {
    display: block;
    height: 100%;
    &.is-disabled {
      & .ccd-input__inner {
        cursor: not-allowed;
        &:hover {
          border-color: map.get($--select, 'disabled-border');
        }
      }
    }
    &.is-focus .ccd-input__inner {
      border-color: map.get($--select, 'input-focus-border-color');
    }
    .ccd-input__suffix-inner {
      .is-reverse {
        transform: rotateZ(180deg);
      }
    }
    .ccd-input__inner {
      cursor: pointer;
      padding-right: 35px;
      display: block;
      height: 100%;
      min-height: 40px;     
      &:focus {
        border-color: map.get($--select, 'input-focus-border-color');
      }
    }    
  }

  &__tags {
    position: absolute;
    z-index: var(--ccd-index-normal);
    height: 28px;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    display: flex;
    width: 170px;
    align-items: center;
    line-height: normal;
    background: var(--ccd-color-white);

    .ccd-tag + .ccd-tag {
      margin-left: 5px;
    }

    .ccd-tag {
      .ccd-select__tags-text {
        overflow-x: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        vertical-align: middle;
      }
    }
  } 
}

.ccd-select-dropdown {
  margin: 8px 0;
  &__empty {
    padding: map.get($--select-dropdown, 'empty-padding');
    margin: 0;
    text-align: center;
    color: map.get($--select-dropdown, 'empty-color');
    font-size: map.get($--select, 'font-size');
  }

  &__item {
    background: var(--ccd-color-white);
    color: var(--ccd-text-color-primary);
    text-align: left;
    padding: map.get($--select-dropdown, 'padding');
    font-size: map.get($--select, 'font-size');
    list-style: none;
    cursor: pointer;
    &.is-hover {
      background: var(--ccd-background-color-base);
    }
    &.is-selected {
      color: var(--ccd-color-primary); 
    }    
    &.is-disabled {
      cursor: not-allowed;
      color: var(--ccd-text-color-secondary);
    }
  }
}