@use "sass:map";

@mixin set-css-var-type($name, $type, $--variables) {
  --ccd-#{$name}-#{$type}: #{map.get($--variables, $type)};
}

@mixin user-select($value) {
  -moz-user-select: $value;
  -webkit-user-select: $value;
  -ms-user-select: $value;
  user-select: $value;
}

@mixin popper($background, $border, $box-shadow) {
  &.ccd-popper {
    background: $background;
    border: $border;
    box-shadow: $box-shadow;

    .ccd-popper__arrow {
      &::before {
        border: $border;
      }
    }

    @each $placement,
      $adjacency
        in ('top': 'left', 'bottom': 'right', 'left': 'bottom', 'right': 'top')
    {
      &[data-popper-placement^='#{$placement}'] {
        .ccd-popper__arrow::before {
          border-#{$placement}-color: transparent;
          border-#{$adjacency}-color: transparent;
        }
      }
    }    
  }
}